.container-fluid
  .row.navbar
    = link_to(image_tag("squash_specs_logo.png", alt: "Squash Specs logo"), root_path)
  .row
    .col.sidebar
      = render :partial => "filter_form"
    .col-9.main-content
      - if @racquet_results.present?
        - @racquet_results.each do |racquet|
          .col.racquet-card
            %ul
              = image_tag(racquet.photo, { alt: "picture of #{racquet.photo}", class: "racquet-img" })
              %li= racquet.brand
              %li= racquet.model
              %li= "Weight: #{racquet.weight} g"
              %li= "Balance: #{racquet.balance}"
              - if racquet.important_notes.present?
                %li= "Notes: #{racquet.important_notes}"
        = paginate @racquet_results        
      - else
        %h2 No results match your selection.

