.container-fluid
  .row.navbar
    = link_to(image_tag("squash_specs_logo.jpg", alt: "Squash Specs logo"), root_path)
  .row
    .col.sidebar
      = render :partial => "filter_form"
    .col-9.main-content
      - if @racquet_results.present?
        - @racquet_results.each do |racquet|
          .col.racquet-card
            %ul
              = image_tag(racquet.photo + ".jpg", { alt: "picture of #{racquet.photo}", class: "racquet-img" })
              %hr
              %li.racquet-brand= racquet.brand
              %li.racquet-model= racquet.model
              %li
                %i.fas.fa-balance-scale
                = racquet.balance
              %li 
                %i.fas.fa-weight-hanging
                = "#{racquet.weight} g"
              - if racquet.important_notes.present?
                %li
                  %i.far.fa-sticky-note
                  = racquet.important_notes
        = paginate @racquet_results        
      - else
        %h2 No results match your selection.

