%h1 New Racquet Entry
= form_for :racquet, url: racquets_path do |f|
  = f.label :brand, "Brand"
  = f.select :brand, options_for_select([['Black Knight', 'Black Knight'], ['Dunlop', 'Dunlop'], ['Eye Rackets', 'Eye rackets'], ['Harrow', 'Harrow'], ['Head', 'Head'], ['Karakal', 'Karakal'], ['Oliver', 'Oliver'], ['Prince', 'Prince'], ['Salming', 'Salming'], ['Tecnifibre', 'Tecnifibre'], ['Unsquashable', 'Unsquashable'], ['Wilson', 'Wilson'], ['Xamsa', 'Xamsa']])

  = f.label :model, "Model"
  = f.text_field :model

  = f.label :weight, "Weight"
  = f.number_field :weight

  = f.label :balance, "Balance"
  = f.select :balance, options_for_select([['Head Heavy', 'Head Heavy'], ['Even', 'Even'], ['Head Light', 'Head Light']])

  = f.label :important_notes, "Important Notes"
  = f.text_field :important_notes

  = f.submit
